body{
    background-color: gainsboro;
}

body > #message{
    display: flex;
    justify-content: space-evenly;
    color: firebrick;
    font-family: 'Goldman', cursive;
    text-align: center;
}

body > #gameplay-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

body > #gameplay-container > button{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
}

body > #outcome{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: firebrick;
    font-family: 'Poller One', cursive;
}

body > #outcome > b{
    margin-top: 20px;
    color: firebrick;
    font-family: 'Poller One', cursive;
}