body{
    background-color: lightcyan;
}

body > #message{
    display: flex;
    justify-content: space-evenly;
    color: firebrick;
    font-family: 'Goldman', cursive;
    text-align: center;
}

body > #gameplay-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

body > #gameplay-container > button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: large;
    background-color: aliceblue;
    transition-duration: 0.4s;
    border: 1px solid black;
}

body > #gameplay-container > button:hover{
    flex-grow: 0.01;
    background-color: firebrick;
    cursor: pointer;
    border: 1px transparent wheat;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body > #gameplay-container > button:active{
    flex-grow: 0.01;
    background-color: firebrick;
    cursor: pointer;
    border: 1px transparent wheat;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body > #outcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: firebrick;
    font-family: 'Poller One', cursive;
}

body > #outcome > b{
    margin-top: 20px;
    color: firebrick;
    font-family: 'Poller One', cursive;
}